
body{
    background-image: url("../images/lo.jpg");
    
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.content{
    align-items: center;
}

/* Add a color to the active/current link */
.topnav-right {
 
  color: white;
  float: left;

}

/* Right-aligned section inside the top navigation */
.topnavi {
  float: right;
}

.content{
    padding-top: 15%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 10px;
    background-color: antiquewhite;
}
.logincontent{
    padding-top: 15%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 10px;
    background-color: antiquewhite;

}
.cent {
    position:absolute;
    top:25%;
    left:50%;
    margin-top:10px; /* this is half the height of your div*/  
    margin-left:-100px; /*this is half of width of your div*/
    background-color: rgb(65, 54, 40);
    color:white;
    font-size: 20px;
  }

  .cents {
    position:absolute;
    top:13%;
    left:45%;
    margin-top:10px; /* this is half the height of your div*/  
    margin-left:-100px; /*this is half of width of your div*/
    background-color: rgb(65, 54, 40);
    color:white;
    font-size: 20px;
    height: 85%
  }
  fieldset{
      height: 70%;
  }
